/*
  Project: CIS-130 Final Project
  Author: Shaun Jordan
  Filename: main.css
  Date: 13-APR-2017
*/
/*body section */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato, Arial, sans-serif";
}

body {
  background: #fff;
}

/* end body section */
/* header section */
header img {
  margin: 1em 0 0 1.5em;
}

header div {
  float: right;
  margin: 6.5em 1.5em 0 0;
  vertical-align: bottom;
}

/* end header section */
/* navigation section */
.navbar {
  font-size: 1.25em;
  overflow: auto;
  font-weight: bold;
  letter-spacing: 1px;
  border-bottom: 2px solid #0000ff;
}

.navbar li {
  list-style: none;
  display: inline-block;
}

.navbar .nav-left li {
  margin-left: .25em;
  margin-right: .25em;
}

.navbar .nav-right li {
  margin-left: .5em;
}

.nav-left {
  float: left;
  margin-left: .25em;
  padding-top: 7px;
}

.nav-right {
  float: right;
  margin-right: 3em;
}

a {
  text-decoration: none;
  color: #000099;
  padding: 4px 6px;
}

a:visited {
  color: #000099;
}

.nav-mobile {
  display: none;
}

#logo-mobile {
  display: none;
}

/* end navigation section */
/* main content section - home page */
.main-content {
  /*box-sizing: border-box;*/
  padding: 0 0 100px;
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

.sliding {
  background: url("../images/welcome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 525px;
  border-top: 1px solid #0000ff;
}

.tech {
  background: url("../images/tab.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 525px;
}

.contact {
  background: url("../images/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 525px;
  border-bottom: 3px solid #0000ff;
}

.tech, .contact {
  border-top: 3px solid #0000ff;
}

.covertext {
  color: #000;
  position: relative;
  top: 75px;
  left: 50px;
  font-size: 24px;
  display: none;
  margin-top: -1.5em;
}

.covertext h1 {
  text-align: left;
  letter-spacing: 1.5px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.covertext > p {
  width: 50%;
}

.covertext a {
  padding: 5px;
  border: 2px solid #000;
  border-radius: 5px;
}

.activecover {
  display: block;
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bars {
  display: none;
}

/* end main content section - home page*/
/* services section */
.page-header {
  width: 45%;
  margin: 0 auto;
}

.services {
  width: 65%;
  margin: 0 auto;
}

.services h2 {
  margin-top: 2em;
}

blockquote {
  display: block;
  background: white;
  padding: 15px 25px;
  float: right;
  box-shadow: 5px 2px 15px #ccc;
  border-left: 5px solid #000099;
  border-radius: 2px;
}

cite {
  text-align: right;
}

/* end services section*/
/* about us and subpages section */
.about-content {
  width: 25%;
  display: table-cell;
  padding: 2em;
}

.community {
  width: 500px;
  margin: 3em auto;
  text-align: center;
  padding-top: 15px;
}

hr {
  width: 50%;
  height: 1px;
  background: #000099;
  border-width: 0;
}

iframe {
  border: none;
}

/* partner info table */
table {
  margin: 2.5em auto 0;
}

table th {
  font-size: 1.35em;
}

table, td {
  border: none;
  border-collapse: collapse;
}

td {
  padding: 25px;
  text-align: center;
}

td img {
  border-radius: 5px;
  box-shadow: 5px 3px 10px #555;
  border: 1px solid #000099;
}

table tr:first-child {
  border-bottom: none;
}

table tr {
  border-bottom: 2px solid #000099;
}

table ul {
  list-style: none;
  text-align: left;
}

table li {
  line-height: 135%;
  font-size: 1em;
}

table span {
  font-size: 1.48em;
  text-decoration: underline;
}

#office {
  display: block;
  margin: 0 auto 1.5em;
}

#history {
  display: block;
  width: 50%;
  text-align: justify;
  margin: 0 auto;
}

/* end about us section*/
/* contact page inquiry form section */
h1, h2 {
  text-align: center;
  color: #000099;
}

.container {
  width: 100%;
  overflow: auto;
}

.box {
  width: 50%;
  margin: 1.5em auto;
}

.contact-info {
  width: 260px;
  line-height: 125%;
  float: left;
  margin-left: 10%;
}

.icons li {
  list-style: none;
  display: inline-block;
  text-align: left;
  margin: 0 10px 0 0;
}

iframe.map {
  display: block;
  float: right;
  margin-right: 5%;
  overflow: visible;
}

.form-container {
  margin: 2em auto 0;
  width: 450px;
  padding: 2em;
  border: 2px solid #000;
  border-radius: 5px;
}

label.userinfo {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-left: -1.25em;
}

.user-input {
  width: 300px;
  margin-top: .75em;
  height: 30px;
  padding-left: 5px;
}

.check {
  margin-bottom: 1.5em;
}

textarea, .user-input {
  outline: none;
  border-style: solid;
  border: 2px solid #0000ff;
  border-radius: 2px;
}

.inquiry-btn {
  display: inline-block;
  padding: 8px 14px;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 16px;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.4);
  outline: none;
  margin-top: 10px;
  align-items: center;
  cursor: pointer;
}

.inquiry-btn:hover {
  box-shadow: 0 17px 10px 0 rgba(0, 0, 0, 0.2);
  transform: translate(0, -5px);
}

/* end contact and inquiry form section*/
/* footer section */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  color: #000099;
}

footer p {
  text-align: center;
}

/* end footer section */
/* media query */
@media screen and (max-width: 765px) {
  .nav-mobile {
    display: block;
    float: right;
    margin: 2em 1.5em 0 0;
    background: transparent;
    border: none;
    outline: none;
  }
  .navbar {
    border: none;
  }
  .nav-mobile:hover {
    background: darkgray;
    border-radius: 2px;
    cursor: pointer;
  }
  .nav-left, .nav-right {
    display: none;
    border: none;
  }
  #logo-mobile {
    display: inline-block;
    vertical-align: middle;
  }
  header {
    display: none;
  }
  .showmenu {
    display: block;
    background: rgba(55, 55, 55, 0.6);
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
  }
  .showmenu li {
    display: block;
    list-style: none;
    line-height: 300%;
    text-align: right;
  }
  .showmenu li a {
    margin-right: .75em;
  }
  .sliding, .tech, .contact {
    display: none;
  }
  .bars {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 300px;
  }
  .mwelcome {
    background: url("../images/welcome.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    background-size: cover;
    margin-top: 1.5em;
  }
  .mexpert {
    background: url("../images/expert.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    background-size: cover;
  }
  .mcontact {
    background: url("../images/contact.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    background-size: cover;
  }
  .about-content {
    display: block;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .community {
    width: auto;
  }
  iframe.map, .box {
    width: 100%;
  }
  #office {
    width: 100%;
  }
}
